* {
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

nav {
    display: flex;
    background-color: #394F8A;
    height: 70px;
}

.main_img {
    display: flex;
    margin-left: 10%;
}

.logo1 img {
    width: 21.5%;
    margin-bottom: 22px;
    color: white;
    margin-left: 5px;
}

.logo1 img:hover {
    transform: scale(0.9);
    transition: 1s;
    cursor: pointer;
}


/* .logo1 {
    margin-left: 30px;
} */

.gadi1 img {
    width: 100px;
    height: 80px;
    margin-top: -10px;
}

.gadi1 img:hover {
    transform: scale(0.9);
    transition: 1s;
    cursor: pointer;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 23px;
    margin-left: -150px;
}

.nav-items a {
    margin-right: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 540;
    padding: 10px;
}

.nav-items a:hover {
    color: #394F8A;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


.rdnav {
    color: rgb(204, 200, 200);
    margin-top: 10px;
}

.upperpart {
    font-size: 20px;
}

.lowerpart {
    margin-top: 5px;
}

.createAc {
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: #ffbd03;
    color: rgb(0, 0, 0);
}

.createAc:hover {
    background-color: white;
    color: #394F8A;
    transition: 1s;
    cursor: pointer;
}

.signin1 {
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

.signin1:hover {
    background-color: white;
    color: #394F8A;
    transition: 1s;
    cursor: pointer;
}

#infomaster1,
#infomaster2 {
    background-color: #239AB0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    color: white;
    border-radius: 10px;
}

#logout {
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

#logout:hover {
    background-color: white;
    color: #394F8A;
    transition: 1s;
    cursor: pointer;
}


/* ----------------------------- */

.submain {
    width: 100%;
    margin: auto;
    /* height: 1020px;  */
    border: 2px solid #394F8A;
    background-color: #A0AECD;
    display: flex;
}

.headdown1 {
    /* border: 2px solid #394F8A; */
    width: 60%;
    margin-right: auto;
    height: 260px;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #A0AECD;
    padding: 20px;
    padding-top: 5px;
}

.gadi22 {
    width: 180px;
}

.textsubmain {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
    color: #394F8A;
    font-weight: 600;

}

.textsmall {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 34px;
    color: #394F8A;
    font-weight: 500;
}

.sane1 {
    display: flex;
    background-color: white;
}

#btnstart {
    background-color: rgb(85, 157, 85);
    color: white;
    padding: 25px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 540;
}

.btnstart:hover {
    background-color: #394F8A;
    transition: 1s;
    cursor: pointer;
}

.divupper {
    display: flex;
    background-color: white;
}

.samimage img {
    width: 500px;
    margin-bottom: 80px;
    margin-left: 30px;
}

.samimage {
    /* border: 2px solid black; */
    margin-top: -30px;
    margin-left: 100px;
    height: 120px;
}

.languageblue {
    color: #394F8A;
    margin-left: 50px;
}

.languagebluebtn {
    color: #394F8A;
    margin-left: 50px;
    padding: 4px;
    background-color: #A0AECD;
    border-radius: 10px;
    /* border: none; */
}

.herealldata {

    background-color: #fdfdfd;
    /* border-radius: 10px; */
    margin-top: 1px;
    /* margin-top: -20px; */
    border: 1px solid black;
    padding: 5px;
}

.rightside2 {
    width: 25%;
    margin-top: 2%;
    height: 1020px;

    background-color: #A0AECD;
    /* border: 2px solid #394F8A; */
    padding: 20px;
    padding-top: 5px;
}

.rightside2 img {
    width: 100%;
    height: 70%;
}

/* ------------------------------------------------- */

.nameking {
    /* border: 2px solid red; */
    width: 100%;
    margin-right: auto;
    /* height: 500px; */
    margin-top: 30px;
    display: flex;
}

.king2323 {
    width: 50%;
    margin: auto;
}

.king2323 img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.logoanddatahere {
    background-color: #394F8A;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    height: 100px;
    display: flex;
}


.textandparahere {
    margin-top: 30px;
}

.prnamehere1 {
    font-size: 25px;
}

.prnamehere2 {
    font-size: 16px;
    margin-top: 10px;
}

#buttonshowingforlogin {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e68200;
    color: white;
    font-size: 14px;
    margin-top: 37px;
    margin-left: 100px;
}

.demodemo23 {
    width: 100%;
    height: 10px;
    /* border: 2px solid red; */
    margin-top: 50px;
    /* padding: 20px; */
}

.demodemo23 img {
    width: 100%;
    border-radius: 10px;
}

#gamestarthere {
    width: 100%;
    height: 680px;
    border: 2px solid #000000;
    background-color: white;
    margin-top: 50px;
    display: none;
    border-radius: 20px;
}

#topmostshowing {
    width: 90%;
    height: 30px;
    margin: auto;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#waitandjoin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
    color: #394F8A;
}

#timerstart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #394F8A;
    margin-right: 30px;
}

.gamecarsstart {
    width: 90%;
    margin: auto;
    height: 280px;
    font-weight: 600;
    color: #394F8A;
    border: 2px solid red;
    margin-top: 10px;
    padding: 20px;
}

.textshowingstart {
    width: 90%;
    height: 160px;
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: #F6FBFF;
}

#thattext {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-weight: 100;
}

input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

#inputfortype input {
    width: 95%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}

input {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resendbtn {
    background-color: #e68200;
    font-size: 20px;
    font-weight: 550;
    padding: 20px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}

#resendbtn:hover {
    background-color: #394F8A;
    color: white;
    cursor: pointer;
}

#raceagainbtn {
    background-color: #219ea9;
    font-size: 20px;
    font-weight: 550;
    padding: 20px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 50%;
}

#raceagainbtn:hover {
    background-color: #136a04;
    color: white;
    cursor: pointer;
}

.afterresend {
    width: 90%;
    margin: auto;
    height: 70px;
    /* border: 2px solid black; */
}

#car,
#car2,
#car3,
#car4,
#car5 {
    width: 100%;
    position: relative;
    left: 0;
    transition: all 1s ease;
    /* border-bottom: dotted; */
}

#car2,
#car3,
#car4,
#car5 {
    margin-top: 25px;
}

.correct {
    color: rgb(0, 255, 0);
    background-color: white;
}

.incorrect {
    background-color: red;
}

/* ------------------------------------------------------------------ranking bottom------------------------------------------------------------------- */

.bottomrank{
    width: 95.59%;
    border: 2px solid black;
    /* height: 200px; */
    background-color: #A0AECD;
    padding: 30px;
    display: flex;
}

.bottomleftbig{
    width: 65%;
    margin: auto;
    /* margin-right: 450px; */
    background-color: white;
    border-radius: 20px;
    height: 100%;
}


.topbuttonsbot{
    padding:20px;

}
#btn1bottom{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #394F8A;
    color: white;
}

#btn2bottom,#btn3bottom,#btn4bottom{
    font-size: 16px;
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border: none;
    background-color: #394F8A;
    color: white;
}
.fa-sharp , .fa-user, .fa-thumbs-up, .fa-wand-magic-sparkles{
    margin-right: 7px;
}

.rankingboard{
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    /* border: 2px solid black; */
    height: 300px;
}
.topnamespeed{
    background-color: #394F8A;
    height: 33px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.topnamespeed div {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.no1cat{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
   

}
.no1cat div {
    margin-left:20px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #394F8A;
    margin-right: 10px;
}
#specialno1cat{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #A0AECD;
}

#backcnage1,#backcnage2{
    background-color: #A0AECD;
}

.bottomrightbig{
    width: 20%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    height: 700px;
}
.bottomrightbig img {
    width: 100%;
    height: 100%;
}
.onlyimghereguys{
    width: 97%;
    padding: 15px;
}
.onlyimghereguys a img{
    width: 100%;
    border-radius: 10px;
    /* height: 100%; */
}


/* ---------------------------footer------------------------ */


footer {
    background-color: #394F8A;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer form .form-control {
    width: 200px;
}

footer .list-inline li {
    display: inline-block;
    margin-right: 10px;
}

footer .fab {
    color: white;
    transition: all 0.3s ease-in-out;
}

footer .fab:hover {
    transform: scale(1.2);
}

footer button.btn-primary {
    background-color: #2b93ee;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

footer button.btn-primary:hover {
    background-color: #136a04;
    color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
}
.form-control::placeholder{
    padding: 10px;
    font-size: 16px;
}