#para-place {
  width: 70%;
  height: 100px;
  border: 1px solid red;
  padding: 10px;
  font-family: sans-serif;
}

#input-field {
  width: 50%;
  height: 30px;
  font-size: 20px;
}
#text-shower-field {
  width: 50%;
  height: 30px;
  /* border: 2px solid green; */
  font-size: 20px;
}

#car_container {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}
.car {
  border: 2px solid black;
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
car_img {
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
